<button (click)="goToAdminPage()">Admin felület</button>
<button (click)="goToQuestionaire()">Kérdőív felület</button>

<form #userDate="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <label class="kerdes">Adja meg a nevét (Opcionálist)</label><br>
        <input class="name" type="text" id="name" name="name"><br>
        <input type="submit" class="addButton" value="Kezdés"/>
</form>

<select [(ngModel)]= selectedquestionnaire.id (ngModelChange)='onQuestionnaireSelected($event)'>
        <label>Válasszon kérdőívet</label>
        <option *ngFor="let questionnaire of questionnaires" [ngValue]="questionnaire.id" [selected]="questionnaire.id==selectedquestionnaire.id">
            {{questionnaire.name}}
        </option>
</select>