<form #answerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="kerdesek">
            <ng-template ngFor let-question [ngForOf]="questions">
                    <div class="kerdes">
                            <label>{{question.description}}</label>
                    </div>
                    <input class="valasz" type="number" placeholder="Válasz" [(ngModel)]="question.value" name="answer"/><br>
            </ng-template>
            
    <div class ="bekuldGomb">
            <input type="submit" class="submit" value="Beküld"/>
    </div>
    </div>
</form>